.footer {
  background-color: #b7dfd3;
}

.dark .footer {
  background-color: #012328;
}

.footer-content {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  max-width: 800px;
  margin: auto;
}

.footer-left {
  width: 30%;
}

.footer-left h2 {
  margin: 0;
  font-size: 24px;
  color: #20c997;
}

.footer-left p {
  margin-top: 5px;
  font-size: 14px;
  color: black;
}

.dark .footer-left p {
  color: white;
}

.footer-right {
  text-align: left;
  margin-top: 30px;
}

.footer-right h3 {
  margin-bottom: 10px;
  font-size: 18px;
  /* color: rgb(54, 197, 186); */
  color: black;
  margin-top: 0;
}

.dark .footer-right h3 {
  color: white;
}

.footer-right ul {
  list-style: none;
  padding: 0;
  margin-top: 8px;
}

.footer-right li {
  margin-bottom: 8px;
}

.footer-right a {
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  width: 200px;
}

.dark .footer-right a {
  color: white;
}

.linkedin-icon {
  margin-left: 8px;
  font-size: 18px;
  color: black;
}

.dark .linkedin-icon {
  color: white;
}

/* Copyright Section */
.footer-bottom {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: black;
  background-color: #d8e5e1;
  padding-bottom: 20px;
  padding-top: 10px;
}

.dark .footer-bottom {
  background-color: #02363d;
  color: white;
}

.hr-container {
  position: relative;
  width: 40%;
  height: 1px;
  margin-bottom: 20px;
  background-color: gray;
}

.dark .hr-container {
  background-color: white;
}

.gradient-line {
  position: absolute;
  top: 0;
  left: 0%;
  width: 30%;
  height: 4px;
  background: linear-gradient(to right, #02363d, #0d7271, #42b49a);
}

.footer-logo {
  justify-content: flex-start;
  width: 180px; /* Adjust size as needed */
  height: 70px;
  margin-bottom: 10px;
  display: block;
}

.footer-logo.dark {
  display: none;
}

.dark .footer-logo.light {
  display: none;
}

.dark .footer-logo.dark {
  display: block;
}

@media (max-width: 767px) {
  .footer-content {
    flex-direction: column;
  }

  .footer-left {
    width: 100%;
  }

  .footer-left .footer-logo {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-left p {
    text-align: justify;
  }

  .footer-right {
    width: 100%;
  }

  .footer-right h3 {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
  }

  .footer-right .hr-container {
    margin-right: auto;
    margin-left: auto;
  }

  .footer-right ul li {
    max-width: fit-content;
    margin-right: auto;
    margin-left: auto;
  }

  .gradient-line {
    left: 50%;
    transform: translateX(-50%);
  }
}
